@media (max-width: 767px) {
  /* page-title adjustments (mobile-only) */
  #page-title-wrap {
    padding: 2rem;
    gap: 0.5rem;
    line-height: 5.5rem;
  }

  /* cutout specifics that differ on mobile */
  #cutout-middle-text {
    width: 100%;
    font-size: 3rem;
    top: 321px;
    left: 60%;
    transform: translateX(-50%);
  }

  #cutout17 {
    top: 310px;
    left: -9px;
    scale: 1.5;
  }

  #cutout1 {
    top: 485px;
    left: 6px;
    scale: 0.8;
  }

  #cutout2 {
    left: -123px;
    scale: 0.5;
  }

  #cutout3 {
    right: -100px;
    top: revert;
    bottom: 0px;
    scale: 0.5;
  }

  #cutout5 {
    bottom: 224px;
    left: 1px;
  }

  #cutout9 {
    top: 205px;
    left: -1px;
  }

  #cutout16 {
    top: 73px;
    left: 148px;
    scale: 0.67;
  }

  /* title area adjustments */
  #title-wrap {
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    flex-direction: column;
  }

  #title-text {
    font-size: 1.7rem;
    text-align: center;
  }

  #ranchi {
    font-size: 1.5rem;
    text-align: center;
  }

  #title-logo {
    height: 50px;
  }
}
