@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "Product Sans";
  src: url("/font/ProductSans-Regular.ttf");
}
/* @font-face {
  font-family: "Lure";
  src: url("/public/font/ProductSans-Regular.ttf");
} */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-ProductSans {
  font-family: Product Sans, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-rainbow {
  background-size: 300% 300%;
  animation: rainbow 6s linear infinite;
}

.animate-gradient {
  animation: gradient 12s ease infinite;
}

/* globals.css */
html,
body {
  overflow-x: hidden;
}

body {
  /* Grid background */
  background-color: white;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 50px 50px; /* grid size */
  background-attachment: fixed; /* keeps grid static while scrolling */
}

.timeline-bg {
  background-color: white;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 50px 50px; /* grid size */
  background-attachment: fixed; /* keeps grid static while scrolling */
}

.st0 {
  fill: none;
  stroke: #51ff2e;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
